<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profesores | SGTA</title>
  </head>
  <body>
    <div class="sidebar close">
      <div class="logo-details">
        <i class="bx bxs-school"></i>
        <span class="logo_name">SGTA</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/materias">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Materias</span>
          </a>
        </li>
        <li></li>
        <li>
          <a href="/docentes">
            <i class="bx bx-user"></i>
            <span class="link_name">Profesores</span>
          </a>
        </li>
        <li>
          <a href="/notificaciones">
            <i class="bx bx-notification"></i>
            <span class="link_name">Notificaciones</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="link_name">Cuenta</span>
          </a>
        </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <img src="/assets/profile.jpg" alt="profileImg" />
            </div>
            <div class="name-job">
              <div class="profile_name">Jennifer</div>
              <div class="job">Vásquez</div>
            </div>
            <a href="/login"><i class="bx bx-log-out"></i></a>
          </div>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <div class="home-content">
        <div>
          <div class="box">
            <h3>Notificaciones</h3>
            <div class="list">
              <div class="imgBx">
                <img src="/assets/boton-de-notificaciones.png" alt="" />
              </div>
              <div class="content">
                <h4>Ing. Elsa Vera | 7mo Nivel</h4>
                <p>Tutoría Aceptada</p>
              </div>
            </div>
            <div class="list">
              <div class="imgBx">
                <img src="/assets/boton-de-notificaciones.png" alt="" />
              </div>
              <div class="content">
                <h4>Ing. Patrricia Quiroz | 6mo Nivel</h4>
                <p>Tutoría Aceptada</p>
              </div>
            </div>
            <div class="list">
              <div class="imgBx">
                <img src="/assets/boton-de-notificaciones.png" alt="" />
              </div>
              <div class="content">
                <h4>Ing. Maria López | 8vo Nivel</h4>
                <p>Tutoría Rechazada</p>
              </div>
            </div>
            <div class="list">
              <div class="imgBx">
                <img src="/assets/boton-de-notificaciones.png" alt="" />
              </div>
              <div class="content">
                <h4>Ing. Willian Delgado | 7mo Nivel</h4>
                <p>Tutoría Aceptada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
